@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COMP2084 Final Exam</h1>
    <p class="lead">This is the ASP.NET Final Exam in Winter 2019.</p>
    <p>CSS Readable Theme from <a href="https://bootswatch.com/3/">https://bootswatch.com/3/</a></p>
    <p>Icons from <a href="https://img.icons8.com">https://img.icons8.com</a></p>
</div>

